.page {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin: 20px;
  overflow: hidden;
  position: relative;
  width: calc(100vh * 0.707);
  height: 94vh;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3em;
  background-color: white;
}

.content {
  padding: 2cm;
}

/* @media only screen and (orientation: portrait) {
  .page {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: calc(100vw - 40px);
    height: calc((100vw - 40px) * 1.414);
    position: absolute;
    top: 100%;
    left: 0;
  }
} */

/* Adjust the page size based on the viewport width */
@media print, screen and (max-width: 768px) {
  .page {
    width: calc(100vw - 40px);
    height: calc((100vw - 40px) * 1.414);
    padding: 1cm;
  }
}
