#color-box {
  padding: 10px;
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  margin-right: 5px;
}

.c1 {
  background-color: black;
}

.c2 {
  background-color: #000a52;
}

.c3 {
  background-color: #007e72;
}

.c4 {
  background-color: #e7a900;
}

.c5 {
  background-color: #db773c;
}

.c6 {
  background-color: #e64638;
}
