.pac-target-input {
  background-color: #f3f5f7;
  border: none;
  padding: 10px;
  width: 100%;
}

.pac-container:after {
  background-image: none !important;
  height: 0px;
}

.pac-item,
.pac-item-query {
  color: #000;
}

.pac-item:hover {
  background: #6666;
}
